#sideBar {
float: left;
width: 20%;
padding-top: 50px;
height: 100%;
font-family:"Impact", Charcoal, sans-serif;
}

.round {
border: .1em solid #900; 
border-radius: 5px; 
-webkit-border-radius: 5px; 
-moz-border-radius: 5px;
}

.noborder-round {
border-radius: 5px; 
-webkit-border-radius: 5px; 
-moz-border-radius: 5px;
}


.impact-font{
font-family:"Impact", Charcoal, sans-serif;
}


#wrapper {
overflow: hidden;
}

.post-tags {

}

.special-font {
font-family: 'MedievalSharp', cursive;
}

.post-title {
font-family: 'MedievalSharp', cursive;
font-size: medium;
}

.post-short {
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: medium;
color: blue;
}

.red-color {
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: small;
color: #B0171F;
}

.post-short a {
text-decoration: none;
}

.post-date {
font-size: small;
color: #282828;
}

#mainContent {
overflow:hidden;
height: 90%;
width:70%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.ribbon {
  background-color: #000;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

.shadow {
/* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

.ribbon a {
  border: 1px solid #000;
  color: #ff3300;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}
