<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="AR" />
   <link rel="stylesheet" href="/css/main.css" type="text/css" />
   <link href='http://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">

<!-- <div id="sideBar">	
			<p><div style="padding-left:10px;">
				<img class="shadow" src="https://jargul.com/images/Empty.png" width="150px" height="150px"/>	
			</div></p>
		
<p><table border="1px" cell-padding="5px">
			<tr>
			<td><a href="http://www.github.com/darthvadar">
			<img src="http://octodex.github.com/images/waldocat.jpg" width="50px" height="50px">
			<br/>Github</a>
			</td>

			<td></td>
			
			<td><a href="http://www.linkedin.com/profile/view?id=32381032&pid=32534034&authType=name&authToken=zQcB&goback=%2Enmp_*1_*1_*1_*1_*1_*1%2Enpe_*1_en*4US_*1_*1_*1_*1%2Enpv1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1&trk=pbmap">
			<img src="/images/linkedin_logo.png" width="50px" height="50px"></a>
			<br/>Linkedin</a>
			</td>
			</tr>

			<tr>
			<td></td>
			<td><a href="/index.html">Home</a></td>
			<td></td>
			</tr>

			<tr>
			<td><a href="http://twitter.com/SupremeWarlock">
			<img src="/images/twitter-logo.png" width="50px" height="50px"/>
			<br/>Twitter</a> 
			</td>
			<td/>
			<td><a href="http://twitter.com/SupremeWarlock">
			<img src="/images/facebook-logo.png" width="50px" height="50px"/>
			<br/>Twitter</a>
			</td>

			</tr>

	</table></p>
</div>
-->
<h1> {{ page.title }} </h1>
<h4> {{ page.date }} </h4>
<h4> {{ page.tags }} </h4>
<div id="mainContent">   
  
  {{ content }}

</div>

</div>


</body>
</html>
