<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="AR" />
   <link rel="stylesheet" href="/css/main.css" type="text/css" />
   <link href='http://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">

<!-- <div id="sideBar">
 <span class="post-short-black">
<h3> Related Posts </h3>
{% for post in site.related_posts limit:3 %}
{{ post.title }} 
<br/>
{% endfor %}
</span> 
<h3> <a href="/">Home</a> </h3>

</div> -->

<!-- <div id="sideBar">	

			<p><div style="padding-left:10px;">
				<img class="shadow" src="https://jargul.com/images/Empty.png" width="150px" height="150px"/>	
			</div></p>
		
<p><table border="1px" cell-padding="5px">
			<tr>
			<td><a href="http://www.github.com/darthvadar">
			<img src="http://octodex.github.com/images/waldocat.jpg" width="50px" height="50px">
			<br/>Github</a>
			</td>

			<td></td>
			
			<td><a href="http://www.linkedin.com/profile/view?id=32381032&pid=32534034&authType=name&authToken=zQcB&goback=%2Enmp_*1_*1_*1_*1_*1_*1%2Enpe_*1_en*4US_*1_*1_*1_*1%2Enpv1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1%2Enpe_*1_*1_*1_*1_*1_*1&trk=pbmap">
			<img src="/images/linkedin_logo.png" width="50px" height="50px"></a>
			<br/>Linkedin</a>
			</td>
			</tr>

			<tr>
			<td></td>
			<td><a href="/index.html">Home</a></td>
			<td></td>
			</tr>

			<tr>
			<td><a href="http://twitter.com/SupremeWarlock">
			<img src="/images/twitter-logo.png" width="50px" height="50px"/>
			<br/>Twitter</a> 
			</td>
			<td/>
			<td><a href="http://twitter.com/SupremeWarlock">
			<img src="/images/facebook-logo.png" width="50px" height="50px"/>
			<br/>Twitter</a>
			</td>

			</tr>
			
		
	</table></p>
</div>
-->
<span class="post-title"> {{ page.title }} </span>
<br/>
<span class="red-color"> 
	{% for tag in page.tags %}
         	 #{{ tag }}   
	{% endfor %}
</span> 

<div id="mainContent" style="width:100%">   
  
  {{ content }}

</div>

</div>


</body>
</html>
