<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="AR" />
   <link rel="stylesheet" href="/css/main.css" type="text/css" />
   <link href='http://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet' type='text/css'>
   <link href='/scripts/curvycorners.js' type='text/javascript'>
   <link href='/scripts/curvycorners.src.js' type='text/javascript'>
	
</head>
<body>

<div id="wrapper">

<div id="sideBar"> </div>
	
<div id="mainContent">   
  {{ content }}
</div>


</div>


</body>
</html>
