---
layout: default
---

{{ title }}
{{ date }}
<b class="post-date">&laquo;&nbsp;<a href="/index.html">Home</a></b>
<br/><br/>

<div id="post">
{{ content }}
</div>

<br/>

<line/>

<div id="related">
  <b>Related Posts:</b>&nbsp;&nbsp;
    {% for post in site.related_posts limit:3 %}
      <!-- <span class="post-date">{{ post.date | date_to_string }}</span> &raquo; -->
	<a class="post-short" href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}  
</div>


